@media screen and (max-width:1440px){
    .container{
        width: 940px;
    }
}


@media screen and (max-width:990px){
    .container{
        width: 738px;
    }

    .col-menu{
        display: none;
    }

    .hamburger-svg{
        display: block;
    }

    
}

@media screen and (max-width:780px){
    .container{
        width: 420px;
    }

    .no-display-flex-med-size{
        display: block;
    }

    .row-md-large{
        flex-direction: column;
    }

    .col-md-medium{
        flex-basis: calc((100% / 2 ) - 1rem);
    }


}

@media screen and (max-width: 460px){
    .container{
        width: 100%;
    }

    .col-sl-large{
        flex-basis: 100%;
    }


}
