@media screen and (max-width:1440px){
    .container{
        width: 940px;
    }
}


@media screen and (max-width:990px){
    .container{
        width: 738px;
    }

    .col-half.position img{
        bottom: -5px;
    }

    
}

@media screen and (max-width:780px){
    .container{
        width: 450px;
    }

    .col-menu{
        display: none;
    }

    .hamburger-svg{
        display: block;
    }

    .no-display-flex-med-size{
        display: block;
    }

    .row-md-large{
        flex-direction: column;
    }

    .col-md-medium{
        flex-basis: calc((100% / 2 ) - 1rem);
    }

    .remove-padding-l-r{
        padding-left: 0rem;
        padding-right: 0rem;
    }


}

@media screen and (max-width: 470px){
    nav{
        padding: 0rem 1rem;
    }
    .container{
        width: 100%;
    }

    .col-sl-large{
        flex-basis: 100%;
    }

    .overflow-hidden{
        overflow: hidden;
    }

    .d-block-littlesize{
        display: block;
    }


    .max-width-smallsize{
        max-width: 200px;
    }

    .double-padding-smallsize{
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .margin-auto-smallsize{
        margin: auto;
    }

    




}
